*.user
.vs/
SampleStore.Common/SampleStore.Common.xml
SampleStore.Common/bin/
SampleStore.Common/obj/
SampleStore.Data/SampleStore.Data.xml
SampleStore.Data.EF/SampleStore.Data.EF.xml
SampleStore.Data.EF/bin/
SampleStore.Data.EF/obj/
SampleStore.Data.Entities/SampleStore.Data.Entities.xml
SampleStore.Data.Entities/bin/
SampleStore.Data.Entities/obj/
SampleStore.Data.Extensions/SampleStore.Data.Extensions.xml
SampleStore.Data.Extensions/bin/
SampleStore.Data.Extensions/obj/
SampleStore.Data.Seed/SampleStore.Data.Seed.xml
SampleStore.Data.Seed/bin/
SampleStore.Data.Seed/obj/
SampleStore.Data/bin/
SampleStore.Data/obj/
SampleStore.Mapping/SampleStore.Mapping.xml
SampleStore.Mapping/bin/
SampleStore.Mapping/obj/
SampleStore.UI/SampleStore.UI.xml
SampleStore.UI/ScaffoldingReadme.txt
SampleStore.UI/bin/
SampleStore.UI/obj/
SampleStore.Host/bin/
SampleStore.Host/obj/
SampleStore.Mapping.AutoMapper/bin/
SampleStore.Mapping.AutoMapper/obj/
SampleStore.Mapping.DataToServices/bin/
SampleStore.Mapping.DataToServices/SampleStore.Mapping.DataToServices.xml
SampleStore.Host/SampleStore.Host.xml
SampleStore.Mapping.DataToServices/obj/
SampleStore.Mapping.DataToUI/bin/
SampleStore.Mapping.DataToUI/obj/
SampleStore.Mapping.ServicesToUI/bin/
SampleStore.Mapping.ServicesToUI/obj/
SampleStore.Services.Email.SendGrid/bin/
SampleStore.Services.Email.SendGrid/obj/
SampleStore.Mapping.DataToUI/SampleStore.Mapping.DataToUI.xml
SampleStore.Services.Identity/bin/
SampleStore.Services.Identity/obj/
SampleStore.Services.Identity/SampleStore.Identity.xml
