*.user
.vs/
*/bin/
*/obj/
*.lscache
SampleStore.Common/SampleStore.Common.xml
SampleStore.Data/SampleStore.Data.xml
SampleStore.Data.EF/SampleStore.Data.EF.xml
SampleStore.Data.Entities/SampleStore.Data.Entities.xml
SampleStore.Data.Extensions/SampleStore.Data.Extensions.xml
SampleStore.Data.Seed/SampleStore.Data.Seed.xml
SampleStore.Mapping/SampleStore.Mapping.xml
SampleStore.UI/SampleStore.UI.xml
SampleStore.UI/ScaffoldingReadme.txt
SampleStore.Mapping.DataToServices/SampleStore.Mapping.DataToServices.xml
SampleStore.Host/SampleStore.Host.xml
SampleStore.Mapping.DataToUI/SampleStore.Mapping.DataToUI.xml
SampleStore.Services.Identity/SampleStore.Identity.xml
SampleStore.Data.Seed.Tests/SampleStore.Data.Seed.Tests.xml
.claude/settings.local.json
