*.user
.vs/
SampleStore.Common/SampleStore.Common.xml
SampleStore.Common/bin/
SampleStore.Common/obj/
SampleStore.Data/SampleStore.Data.xml
SampleStore.Data.EF/SampleStore.Data.EF.xml
SampleStore.Data.EF/bin/
SampleStore.Data.EF/obj/
SampleStore.Data.Entities/SampleStore.Data.Entities.xml
SampleStore.Data.Entities/bin/
SampleStore.Data.Entities/obj/
SampleStore.Data.Extensions/SampleStore.Data.Extensions.xml
SampleStore.Data.Extensions/bin/
SampleStore.Data.Extensions/obj/
SampleStore.Data.Seed/SampleStore.Data.Seed.xml
SampleStore.Data.Seed/bin/
SampleStore.Data.Seed/obj/
SampleStore.Data/bin/
SampleStore.Data/obj/
SampleStore.Identity/SampleStore.Identity.xml
SampleStore.Identity/bin/
SampleStore.Identity/obj/
SampleStore.Mapping/SampleStore.Mapping.xml
SampleStore.Mapping/bin/
SampleStore.Mapping/obj/
SampleStore.UI/SampleStore.UI.xml
SampleStore.UI/ScaffoldingReadme.txt
SampleStore.UI/bin/
SampleStore.UI/obj/
