@page
@model LockoutModel
@section Title {@Model.Title}

<header>
    <h1 class="text-danger">@Model.Title</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
